[submodule "nvim/.config/nvim"]
	path = nvim.old/.config/nvim
	url = https://github.com/thatanjan/neovim-config
[submodule "kitty/.config/kitty/kitty-themes"]
	path = kitty/.config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "polybar-themes"]
	path = polybar-themes
	url = git@github.com:thatanjan/polybar-themes.git
